body {
  color: #40514e;
  font-family: 'DM Mono', monospace;
  margin: 0;
  text-align: center;
  
}

hr {
  border-style: dotted none none none;
  color: gray;
  border-width: 10px;
  width: 20%;
}

.top {
  margin-top: 5%;
}

.bottom {
  margin-bottom: 5%;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  line-height: 2;
}


h3 {
  color: #11999e;
  font-family: 'DM Mono', monospace;
  line-height: 2;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 2;
}

/* Containers */
.container {
  display: flex;
}

.container-fluid {
  padding: 5% 8%;
}

.color-section {
  background-color: #e4f9f5;
}

.top-container {
  background-color: #e4f9f5;
  display: flex;
  align-content: center;
}

/* Navbar */
.logo {
  height: 50px;
  width: 50px;
}

.navbar {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a.nav-link:hover {
  color: #11999e !important;
  font-weight: bold !important;
}


/* Contact Section */
.contact-message {
  width: 65%;
  margin: auto auto 50px;
}

.btn {
  background: #30e3ca;
  background-image: -webkit-linear-gradient(top, #30e3ca, #11999e);
  background-image: -moz-linear-gradient(top, #30e3ca, #11999e);
  background-image: -ms-linear-gradient(top, #30e3ca, #11999e);
  background-image: -o-linear-gradient(top, #30e3ca, #11999e);
  background-image: linear-gradient(to bottom, #30e3ca, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'DM Mono', monospace;
  color: #40514e;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #e4f9f5;
  text-decoration: none;
}


/* Footer */
.footer-container {
  background-color: #e4f9f5;
  height: 200px;
  margin-top: 50px;
}

.contact-icon {
  color: #40514e;
  margin: 20px;
}

.contact-icon:hover {
  color: #11999e;
}


/* Copyright */
.copyright {
  margin: 30px 0 10px;
}


/* Home Page */

  /* Title Section */
  #title .container-fluid {
    padding: 5% 0;
  }

  .cursive {
    color: #11999e;
    font-family: 'Rock Salt', cursive;
    font-size: 2.2rem;
  }


  /* Skills Section */
  .skills {
    background-color: #e4f9f5;
    padding: 30px 0 1px;
  }
  
  .skill-row {
    width: 85%;
    margin: 100px auto;
    line-height: 2;
  }
  
  .right {
    text-align: right;
  }

  .left {
    text-align:left;
  }
  
  .design-img {
    float: left;
    margin-right: 40px;
  }
  
  .responsive-img {
  float: right;
  margin-left: 40px;
  }


/* About Page */

  /* About-Title Section */
  #about-title .about-space {
    height: 100px;
    width: 100px;
    display: inline-flex;
  }

  .about-img {
    width: 30%;
    border-radius: 25%;
  }
  
  .about-middle-container {
    height: 700px;
  }
  
  .coming-soon {
    margin: 75px 0;
  }
  

/* Work Page */

  /* Work-Title Section */
  #professional-projects, #bootcamp-projects, #playground{
    text-align: left;
  }

  .work.container-fluid {
    padding: 5%;
  }

  .professional-title {
    font-size: 1.75rem;
    font-weight: bold;
  }
 
  .img-black {
    border-bottom: 1px solid black;
  }

  .projects {
    padding: 0 5% 5%;
  }

  .projects h2 {
    color: #11999e;
    font-size: 1.5rem;
  }



/* Typewriter effect */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #40514e; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation:
    typing 2.5s steps(41, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #40514e; }
}





/* Media Queries */

/* Large Screens */
@media (min-width: 624px) {
.typewriter-slow {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #40514e; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation:
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect*/
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #40514e; }
  }
}


/* Medium Screens */
@media (min-width: 926px) and (max-width: 1008px) {
  .container-fluid {
    padding: 5%;
  }
}


/* Small/Medium screens */
@media (max-width: 925px) {

  #title .container-fluid {
    padding: 5% 3%;
  }

 #title .container {
   display: none;
 }

 a.card-text.btn {
  font-size: 12px;
}

}


/* Small Screens */
@media (max-width: 415px) {

  h1, h2 {
    font-size: 1.2rem;
  }

  h2.professional-title, h2.card-title {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  hr {
    margin: 10% auto;
  }

  .container-fluid {
    padding: 5% 1%;
  }
  .cursive {
    font-size: 1.4rem;
  }

  .contact-message {
    width: 90%;
    margin: auto;
    padding: 3% 5% 8%;
  }

  .contact-title {
    font-size: 1.5rem;
  }

  .skill-row {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    line-height: 2;
  }
  
  .design-img, .responsive-img {
    margin: auto;
    padding: 0 5% 5%;
    float: none;
  }
  
  #skills .container-fluid {
    padding-top: 10%;
  }
  #skills .skills-title {
    font-size: 1.3rem;
  }

}
