body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

hr {
  border-style: dotted none none none;
  color: gray;
  border-width: 10px;
  width: 20%;
  margin: 100px auto;
}

h1 {
  color: #40514e;
  font-family: 'DM Mono', monospace;
  font-size: 2rem;
  margin: 0;
  line-height: 2;
}

h2 {
  color: #40514e;
  font-family: 'DM Mono', monospace;
}

h3 {
  color: #11999e;
  font-family: 'DM Mono', monospace;
  line-height: 2;
}

p {
  line-height: 2;
}

.about-img {
  height: 340px;
  width: 275px;
  margin: 50px;
  border-radius: 25%;
}

.about-middle-container {
  height: 700px;
}

.coming-soon {
  margin: 75px 0;
}

.container {
  display: inline-flex;
  height: 100px;
  width: 100px;
}

.logo {
  height: 50px;
  width: 50px;
}

.cursive {
  color: #11999e;
  font-family: 'Homemade Apple', cursive;
  font-size: 2.8rem;
}

.extra {
  background-color: #e4f9f5;
  height: 50px;
}

.extra-2 {
  background-color: #e4f9f5;
  height: 30px;
}

.top-container {
  background-color: #e4f9f5;
  display: flex;
  align-content: center;
}

.footer-container {
  background-color: #e4f9f5;
  height: 200px;
  margin-top: 50px;
}


.heading-position {
  align-items: center;
}

.profile {
  margin-top: 100px;
}

.intro {
  width: 65%;
  margin: auto;
}

.skills {
  background-color: #e4f9f5;
  padding: 30px 0 1px;
}

.skill-row {
  width: 65%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.design-img {
  float: left;
  margin-right: 40px;
}

.responsive-img {
float: right;
margin-left: 40px;
}

.contact-message {
  width: 65%;
  margin: auto auto 50px;
}

.copyright {
  margin: 30px 0 10px;
}

.btn {
  background: #30e3ca;
  background-image: -webkit-linear-gradient(top, #30e3ca, #11999e);
  background-image: -moz-linear-gradient(top, #30e3ca, #11999e);
  background-image: -ms-linear-gradient(top, #30e3ca, #11999e);
  background-image: -o-linear-gradient(top, #30e3ca, #11999e);
  background-image: linear-gradient(to bottom, #30e3ca, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'DM Mono', monospace;
  color: #40514e;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #e4f9f5;
  text-decoration: none;
}

.contact-img {
  margin: 20px;
}

.contact-img:hover {
  background-color: #11999e;
}

.work-img {
  padding-top: 50px;
}


.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #40514e; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation:
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #40514e; }
}